<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BechaKena</title>
</head>
<body>
    <div class="grid-container">
    <header class="header">
       <div class="brand">
           <button onclick="openMenu()">
               &#9776;
           </button>
           <a href="index.html">BechaKena</a>
       </div>
       <div class="header-links">
           <a href="cart.html">Carts</a>
           <a href="signin.html">Sign In</a>
       </div>
    </header>
    <aside class="sidebar">
         <h3>Shopping Categories</h3>  
         <button class="sidebar-close-button" onclick="closeMenu()">x</button>
         <ul>
             <li>
                 <a href="index.html">T-shirt</a>
             </li>
             <li>
                <a href="index.html">Dress</a>
            </li>
         </ul>  
    </aside>
    <main class="main">
        <div class="content">
        <ul class="products">  
            <li>
                <div class="product">
                <img class="product-image" src="/images/d1.jpg" alt="product">
                <div class="product-name"> 
                <a href="product.html">T-shirt</a>
                </div> 
                <div class="product-brand">Friends Logo T-shirt</div>
                <div class="product-price">$20</div>
                <div class="product-rating">4.5 stars(10 Reviews)</div> 
            </div>
            </li>

            <li>
                <div class="product">
                <img class="product-image" src="/images/d2.png" alt="product">
                <div class="product-name"> 
                <a href="product.html">T-shirt</a>
                </div> 
                <div class="product-brand">Friends Logo T-shirt</div>
                <div class="product-price">$15</div>
                <div class="product-rating">5 stars(15 Reviews)</div> 
            </div>
            </li>

            <li>
                <div class="product">
                <img class="product-image" src="/images/d3.jpg" alt="product">
                <div class="product-name"> 
                <a href="product.html">Bag</a>
                </div> 
                <div class="product-brand">Friends Logo Bag</div>
                <div class="product-price">$28</div>
                <div class="product-rating">3.5 stars(10 Reviews)</div> 
            </div>
            </li>

            <li>
                <div class="product">
                <img class="product-image" src="/images/d4.jpg" alt="product">
                <div class="product-name"> 
                <a href="product.html">Bag</a>
                </div> 
                <div class="product-brand">Hand Bag</div>
                <div class="product-price">$6.5</div>
                <div class="product-rating">3.5 stars(10 Reviews)</div> 
            </div>
            </li>

            <li>
                <div class="product">
                <img class="product-image" src="/images/d1.jpg" alt="product">
                <div class="product-name"> 
                <a href="product.html">T-shirt</a>
                </div> 
                <div class="product-brand">Friends Logo T-shirt</div>
                <div class="product-price">$20</div>
                <div class="product-rating">4.5 stars(10 Reviews)</div> 
            </div>
            </li>

            
            
        </ul>
    </div>
    </main>
    <footer class="footer">
        All rights reserved.
    </footer>
   </div>
   
   <script>
    function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
     }
     function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open");
     }
   </script>
</body>
</html>